/*  your css code here. If applicable */
.hero{
	display:flex;
	margin:0px;
	
}
img{
	width:400px;
	height:200px;
	margin: 20px;
	padding:10px;
	object-fit:cover;
}
button{
	background-color:red;
	color:white;
	border:none;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border-radius: 5px;
}

.text{
	text-align:center;
	font-size: 0.5em;
	margin-top: 60px;
}